@use "common/colors" as *;
@use "common/material" as *;

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem;
    background-color: $color-dark-surface;

    .auth-card {
        background-color: $color-dark-surface-container;
        color: $color-dark-on-surface;
        border-radius: 12px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 450px;
        overflow: hidden;
    }
      
    .auth-header {
        margin: 0;
        padding: 16px;
        padding-bottom: 0;
        text-align: center;

        h2 {
            font-size: 1.8rem;
            margin: 0;
            margin-bottom: 0.5rem;
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: center;
        }
    }
      
    .auth-body {
        padding: 25px;
        padding-bottom: 16px;

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}