@use "auth";
@use "chat";
@use "profile";
@use "settings";
@use "panelchat";
@use "common/animations";
@use "common/components";
@use "common/colors" as *;
@use "common/material" as *;
@use "electron";

@use "lib/fonts/montserrat";
@use "lib/fonts/material-symbols";


* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $color-dark-surface;
    color: $color-dark-on-surface;
    line-height: 1.6;
    height: 100vh;
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;

    #main-wrapper {
        flex: 1;
        position: relative;
        height: 100vh;
    }
}

mdui-dialog {
    > *:first-child {
        margin-block-start: 0;
    }

    > *:last-child {
        margin-block-end: 0;
    }
}