@use "material" as *;

.text-center {
    text-align: center;
}

.mt-3 {
    margin-top: 1rem;
}

.alert {
    padding: 0.8rem 1rem;
    border-radius: 6px;
    margin-bottom: 1rem;

    &.alert-success {
        background-color: #C6F6D5;
        color: #22543D;
    }
    
    &.alert-danger {
        background-color: #FED7D7;
        color: #742A2A;
    }
}

.link {
    color: $color-dark-primary; 
    font-weight: 600;
}

button, input {
    font: inherit;
}