@use "common/colors" as *;
@use "common/material" as *;

#chat-interface {
    /* Header */
    .header {
        background-color: $color-dark-surface-container;
        color: white;
        padding: 16px 16px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;

        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                font-size: 1.8rem;
                font-weight: 700;
                display: flex;
                align-items: center;
            }

            .nav-links {
                display: flex;
                list-style: none;
                gap: 10px;

                li {
                    a {
                        color: white;
                        text-decoration: none;
                        font-weight: 500;
                        transition: all 0.3s ease;
                        padding: 10px;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.2);
                        }
                    }
                }
            }
        }
    }

    .chat-container {
        display: flex;
        height: calc(100vh - 70px);
        margin-top: 70px;

        .chat-main {
            flex: 1;
            display: flex;
            flex-direction: column;

            .chat-header {
                padding: 16px;
                background: $color-dark-surface-container;
                display: flex;
                align-items: center;
                box-shadow: black 0px 0px 20px;

                .chat-header-avatar {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 1rem;
                }

                .chat-header-info {
                    h4 {
                        font-size: 1.1rem;
                        margin-bottom: 0.2rem;
                    }

                    p {
                        font-size: 0.8rem;
                        color: #718096;
                    }

                    .online-status {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: $success;
                        margin-right: 5px;
                    }
                }
            }

            .chat-messages {
                flex: 1;
                padding: 1rem;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 7px;
                }

                &::-webkit-scrollbar-track {
                    background: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $color-dark-surface-container-high;
                    border-radius: 20px;
                }

                .message {
                    margin-bottom: 1rem;
                    max-width: 70%;
                    position: relative;
                    width: max-content;

                    .message-inner {
                        padding: 0.8rem 1rem;
                        border-radius: 12px;
                        position: relative;
                        word-wrap: break-word;

                        .message-time {
                            font-size: 0.7rem;
                            color: $color-dark-on-surface-variant;
                            margin-top: 0.3rem;
                            text-align: right;
                        }
                    }

                    &.received .message-inner {
                        background-color: $color-dark-surface-container;
                        border-top-left-radius: 5px;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
                    }

                    &.sent {
                        margin-left: auto;

                        .message-inner {
                            background-color: $color-dark-primary-container;
                            color: $color-dark-on-primary-container;
                            border-top-right-radius: 5px;
                        }

                        .message-time {
                            color: $color-dark-on-primary-container;
                        }
                    }
                }
            
                .message-username {
                    font-weight: 600;
                    margin-bottom: 0.3rem;
                    font-size: 0.9rem;
                }
            }

            .chat-input-wrapper {
                position: relative;

                &::before {
                    $height: 20px;

                    content: '';
                    position: absolute;
                    top: -$height;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: $height;
                    background: linear-gradient(
                        0deg,
                        $color-dark-surface,
                        rgba(255, 255, 255, 0),
                    );
                }

                .chat-input {
                    margin: 0 20px 20px 20px;
                    background-color: $color-dark-surface-container;
                    border-radius: 40px;
    
                    .input-group {
                        display: flex;
    
                        .message-input {
                            flex: 1;
                            padding: 10px 20px;
                            border: none;
                            border-radius: 25px;
                            font-size: 1rem;
                            outline: none;
                            background-color: inherit;
                            caret-color: $color-dark-primary;
                            color: $color-dark-on-surface;
                        }
                        
                        .send-btn {
                            margin: 10px;
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            background-color: $color-dark-primary;
                            color: $color-dark-on-primary;
                            border: none;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: background-color 0.25s ease;
    
                            @include hoverStateLayer($background: $color-dark-primary);
                        }
                    } 
                }
            }
        }
    }
}